::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.feed {
  height: 100%;
  width: 30rem;
  margin: auto;
  padding-top: 2rem;
  overflow: auto;
}

.add-feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: auto;
  font-weight: 700;
  font-size: large;
  width: 100%;
  background-color: rgb(245, 197, 24);
  height: 3rem;
  border-radius: .6rem;
  cursor: pointer;
}

.add-feed span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2rem;
  height: 1.2rem;
  background-color: black;
  color: #f5c518;
  border-radius: 50%;
}

.add-feed:active {
  background-color: rgb(179, 144, 18);
}

.line {
  height: 2px;
  width: 100%;
  background-color: red;
  animation: colorChange 1s infinite;
}

.timeline {
  width: 100%;
  padding-top: 30px;
}

.timeline .empty {
  width: max-content;
  color: white;
  margin: auto;
  font-size: 24px;
}

@keyframes colorChange {
  0% {
    background-color: red;
  }

  50% {
    background-color: green;
  }

  100% {
    background-color: blue;
  }
}

@media (max-width:480px) {
  .add-feed {
    font-size: medium;
    width: 80%;
  }
}