input[type="submit"] {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  padding: .3rem 6rem;
  background: #f5c518;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: rgb(179, 144, 18);
}

button {
  background-color: black;
  color: rgb(245, 197, 24);
  width: 10rem;
  padding: 2px 0;
  cursor: pointer;
  border-radius: .6rem;
}