input[type="submit"] {
  color: white;
  padding: .6rem 6rem;
  background: #1e40af;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #232848;
}

button {
  background-color: white;
  color: #0284c7;
  width: 10rem;
  padding: 2px 0;
  cursor: pointer;
  border-radius: .6rem;
}