.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #f5c518;
  color: black;
  font-size: 1.6rem;
  border-radius: .6rem;
  text-align: center;
}

.modal .content {
  height: 475px;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal .content form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal .content form input[type="submit"] {
  background-color: black;
  color: #f5c518;
  width: 60%;
  border-radius: .6rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.modal .content form textarea {
  margin-top: 20px;
  outline: none;
  padding: 15px;
  resize:none;
  max-width: 90%;
}

.modal .content form input[type="file"] {
  display: none;
}

.modal .content form label {
  color: #f5c518;
  width: 60%;
  background-color: black;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: .6rem;
}

.modal .content form button {
  width: 60%;
}

@media (max-width:480px) {
  .modal .content form input[type="submit"] {
    width: 80%;
  }

  .modal .content form button {
    width: 80%;
  }

  .modal .content form label {
    width: 80%;
  }

  .modal .content {
    width: 19rem;
  }
}